@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url('./assets/images/bg-bottom.svg'), url('./assets/images/bg-top.svg');
    background-size: 20%,20% ;
    background-color: hsl(240, 78%, 98%);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, top right;
    
}